.header__button {
  position: absolute;
  right: 0;
  bottom: 10px;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  background-color: transparent;
}

.header__button:focus {
  outline-color: green;
}
  
  
  
  